
{
	"driver_type": "normalgw",
	"driver_config": {
           	"nfurl": "https://6cd43e144f6f3b3fddfa65dd777a49c0.balena-devices.com",
	    	 "priority": 14,
    "structured_query":{
       "and": [
            {
            "field": {
                "property": "period",
                "numeric": {
                    "minValue": 1,
                    "maxInfinity": true
                }
	      }
            }, {
            "field": {
                "property": "device_id",
                "numeric": {
                    "minValue": 316300,
                    "maxValue": 316300
                }
              }
           }
        ]
    },
    "topic_name_format": "object_name:{prop_object_name}"
  },
  "interval": 5.0
}
